@import url('https://fonts.cdnfonts.com/css/white-rabbit-2');

@font-face {
  font-family: "Consolas";
  src: url("/src/assets/fonts/Consolas.ttf") format("truetype-variations");
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --f-size: clamp(0.5rem, calc(1.9vh + 0.1vw), 1.1rem);
  --d-distance: clamp(1rem, calc(1vw + 0.2vh), 1.8rem);
  --d-dimension: clamp(3.5rem, calc(4vw + 0.2vh), 4.5rem);
}

/* ------------------------------------------------------------------------------------------------------------------------------------ */

*,
*::before,
*::after {
  padding: 0;
  border: 0;
  margin: 0;
  position: relative;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
  scrollbar-width: none;
  font-family: "Consolas";
}

*::-webkit-scrollbar {
  display: none;
}

body {
  position: relative;
  width: 100svw;
}
